{$SITE_ADDRESS} {
    encode zstd gzip
    request_body {
        max_size 65MB
    }
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy same-origin
    }
    handle /api/* {
        reverse_proxy api:8000
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
